- content_for :title, @entry.title

%main
  %article
    %header
      %h1= @entry.display_title
      - if !@entry.title.nil?
        .date= @entry.published_at_formatted

    %hr.header-main-divider

    = @body_html
