- content_for :head do
  %script{src: "https://b.st-hatena.com/js/bookmark_button.js", async: "async"}
  %script{src: "https://s.hatena.ne.jp/js/HatenaStar.js", defer: "defer"}
  :javascript
    Hatena = {
      Star: {
        SiteConfig: {
          entryNodes: {
            'article': {
              uri: 'h1 a',
              title: 'h1',
              container: 'div.hatena-star',
            },
          },
        },
      },
    }

- content_for :title, @entry.title

%article
  %header.article-header
    %h1= link_to @entry.display_title, entry_friendly_path(entry_path: @entry.entry_path)
    - if !@entry.title.nil?
      .date= @entry.published_at_formatted

  %hr.header-main-divider

  = @body_html

  %footer.article-footer
    = render 'hatena'
