/* Site-global */

body {
  min-height: 100dvh;
  margin: 0;
  padding: 0;

  font-family: "Helvetica Neue", "Helvetica", sans-serif;
  font-weight: 400;

  scrollbar-gutter: stable both-edges;
}

header.site-header {
  max-width: min(760px, calc(100% - 60px)); /* leave 30px on each side */
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

header a {
  text-decoration: none;
}

.logotype {
  max-width: 300px;
  height: 50px;

  background-color: #000000;
}

main {
  max-width: min(760px, calc(100% - 60px)); /* leave 30px on each side */
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

footer.site-footer {
  max-width: min(760px, calc(100% - 60px)); /* leave 30px on each side */
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

footer .ruby-description {
  font-size: 12px;
}

footer .privacy-notice {
  font-size: 12px;
}

@media screen and (max-width: 480px) {
  header.site-header {
    max-width: 100%;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .logotype {
    max-width: 250px;
  }

  main {
    max-width: 100%;
    margin-left: 10px;
    margin-right: 10px;
  }

  footer.site-footer {
    max-width: 100%;
    margin-left: 10px;
    margin-right: 10px;
  }
}

/* entries#index */

.entries-list td {
  padding: 0.25em 0.2em;
}

.entries-list td.published-at {
  text-align: right;
  vertical-align: top;
}

/* Article */

article {
  font-size: 15px;
  line-height: 1.6em;

  overflow-wrap: anywhere;
}

article header h1 {
  margin-bottom: 0.3em;

  font-size: 24px;
  font-weight: 600;
  font-feature-settings: "palt";
}

article header a {
  color: #333;
  text-decoration: underline transparent;
}

article header a:hover {
  text-decoration: underline #333;
  transition: text-decoration 0.3s;
}

article header .import_source {
  color: #666;
  font-size: 0.9em;
}

article hr.header-main-divider {
  margin: 1.2em auto 1.2em 0;
  max-width: min(300px, 40%);
  color: #bbb;
}

article h2 {
  margin-top: 1.2em;
  margin-bottom: 0.7em;

  font-size: 22px;
  font-weight: 600;
  font-feature-settings: "palt";
}

article h3 {
  margin-top: 0.6em;
  margin-bottom: 0.6em;

  font-size: 16px;
  font-weight: 600;
  font-feature-settings: "palt";
}

article p {
  margin-top: 0;
  margin-bottom: 1em;

  font-family: "Palatino Linotype", "Palatino", "Hiragino Mincho Pro", "Toppan Bunkyu Mincho", serif;
}

article a {
  color: #131384;
}

article p strong {
  font-family: "Toppan Bunkyu Gothic", serif;
}

.embedded-link-card {
  display: flex;
  flex-direction: row;

  width: 100%;
  margin-bottom: 1em;

  border: 1px solid #e1e4e8;
  border-radius: 8px;
  box-shadow: 2px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.embedded-link-card-image {
  flex-shrink: 0;
  width: 120px;
  overflow: hidden;
}

.embedded-link-card-image img {
  width: 100%;
  height: auto;
  display: block;
}

.embedded-link-card-content {
  flex-grow: 1;
  padding: 16px;
}

.embedded-link-card-title {
  font-size: 15px;
  color: #333;
}

.embedded-link-card-title a {
  text-decoration: none;
  color: inherit;
}

.embedded-link-card-title a:hover {
  text-decoration: underline;
}

.embedded-link-card-description {
  margin-top: 8px;
  font-size: 14px;
  color: #555;
  line-height: 1.5;
}

.embedded-link-card-host {
  margin-top: 12px;
  font-size: 12px;
  color: #999;
}

.hatena-star {
  margin-bottom: 10px;
  height: 24px;
}

.hatena-bookmark {
  height: 40px;
}

iframe {
  max-width: 100%;
}
