* {
  margin: 0;
  padding: 0;
}

/* Site-global */

body {
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
  font-weight: 400;
}

header.site-header {
  max-width: min(950px, calc(100% - 80px)); /* 40px on each side */
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

.logotype {
  max-width: 300px;
  height: 50px;
  padding-left: 14px;

  color: #ffffff;
  background-color: #000000;
  line-height: 50px;

  font-size: 22px;
  font-family: "Helvetica Neue";
}

.logotype span.osyoyucom {
  font-weight: 300;
}

.logotype span.breakpoint {
  font-weight: 900;
}

main {
  max-width: min(950px, calc(100% - 80px)); /* 40px on each side */
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

footer.site-footer {
  max-width: min(950px, calc(100% - 80px)); /* 40px on each side */
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

footer .ruby-description {
  font-size: 12px;
}

@media screen and (max-width: 480px) {
  header.site-header {
    margin-left: 10px;
    margin-right: 10px;
  }

  main {
    margin-left: 20px;
    margin-right: 20px;

    line-height: 1.6em;
  }

  footer.site-header {
    margin-left: 10px;
    margin-right: 10px;
  }
}


/* Article */

article {
  font-size: 16px;
  line-height: 1.5em;
}

article header h1 {
  margin-bottom: 0.3em;

  font-size: 24px;
  font-weight: 600;
}

article header a {
  color: #333;
  text-decoration: underline transparent;
}

article header a:hover {
  text-decoration: underline #333;
  transition: text-decoration 0.3s;
}

article hr.header-main-divider {
  margin: 1.2em auto 1.2em 0;
  max-width: min(300px, 40%);
  color: #bbb;
}

article h2 {
  margin-top: 0.7em;
  margin-bottom: 0.7em;

  font-size: 20px;
  font-weight: 600;
}

article p {
  margin-bottom: 1em;
}

article a {
  color: #131384;
}

.hatena-star {
  margin-bottom: 10px;
  height: 24px;
}

.hatena-bookmark {
  height: 40px;
}
