.embedded-link-card
  .embedded-link-card-content
    .embedded-link-card-title
      %strong
        = link_to link.title&.gsub(/\n+/, " "), link.url, target: "_blank"
    .embedded-link-card-description= link.description&.truncate(80)&.gsub(/\n+/, " ")
    .embedded-link-card-host= host

  - if link.image_url
    .embedded-link-card-image
      = link_to link.url, target: "_blank" do
        %img{src: link.image_url}
